
<div class="container" ng-app="jiraApp" ng-controller="jiraCtrl">
    <form novalidate ng-show="status">
        Username:<br>
        <input class="form-control" type="text" ng-model="username"><br>
        Password:<br>
        <input class="form-control" type="password" ng-model="password"><br>
        JQL:<br>
        <textarea class="form-control" rows="5" ng-model="jql"></textarea><br>
        <button type="button" class="btn btn-primary" ng-click="getIssues()">Submit</button>
    </form>

    <table class="table table-striped" ng-hide="status" id="jiratasks">
        @*<thead>
            <tr>
                <th>Jira Tasks</th>
            </tr>
        </thead>*@
        <tbody>
            <tr ng-repeat="task in tasks">
                @*<td>
                    <button class="btn" ng-click="editUser(user.id)">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                    </button>
                </td>*@
                <td class="info">
                    <p>{{ task.key }}</p>
                    <p>{{ task.summary }}</p>
                    <p>{{ task.issuetype }}</p>
                    <p>SP: {{ task.storyPoints }}</p>
                    <table ng-if="task.subtasks.length" class="table" style="background-color:inherit">
                        <tbody>
                            <tr ng-repeat="st in task.subtasks">
                               <td>
                                    <p>{{ st.key }}</p>
                                    <p>{{ st.summary }}</p>
                                    <p>{{ st.name }}</p>
                               </td>
                            </tr>

                        </tbody>
                    </table>

                </td>

               @* <td>{{ user.lName }}</td>*@
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-default" ng-click="displayForm()" ng-hide="status">Try Again</button>
    <button type="button" class="btn btn-default" onclick="$('#jiratasks').tableExport({ type: 'pdf', pdfFontSize: '7', escape: 'false' });" ng-hide="status">Export To PDF</button>
</div>

<script>
var app = angular.module('jiraApp', []);
app.controller('jiraCtrl', function($scope, $http) {
    //.success(function (response) { $scope.tasks = response; });
    $scope.username = "Username";
    $scope.password = "Password";
    $scope.jql = "jql";
   // $scope.bgColor = "background-color': '" + getRandomColor() + "'";
    $scope.status = true;
    $scope.getIssues = function () {
        $http.get("/api/jira/gettickets?name=" + $scope.username + "&password=" + $scope.password + "&jql=" + $scope.jql)
       .success(function (response) { $scope.tasks = response; $scope.status = false; }).error(function (response) { alert("error") });
    }
    $scope.displayForm = function () {
        $scope.status = true;
        $scope.tasks = null;
    };
    //.error(function () { alert("error") })

});
</script>

@*<script type="text/javascript">
            function ran_col() { //function name
                var color = '#'; // hexadecimal starting symbol
                var letters = ['000000','FF0000','00FF00','0000FF','FFFF00','00FFFF','FF00FF','C0C0C0']; //Set your colors here
                color += letters[Math.floor(Math.random() * letters.length)];
                document.getElementById('posts').style.background = color; // Setting the random color on your div element.
            }
</script>*@
<script type="text/javascript">
function getRandomColor () {
  var hex = Math.floor(Math.random() * 0xFFFFFF);
  return "#" + ("000000" + hex.toString(16)).substr(-6);
}
</script>